{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
    <form action="" method="post" class="post-form">{% csrf_token %}
        <div class="text" align="center">
            <div class="row">
                <div class="col-12">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">追加</button>
                    <a href="{% url 'wordbook:home' %}" class="btn btn-primary">戻る</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}